@model PI4SAE.Models.Activities

@{
    ViewBag.Title = "Affecter";
    Layout = "~/Views/Shared/EspaceAdmin.cshtml";

}

<h2>Affecter</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Activities</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.idActivity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idActivity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idActivity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nameActivity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nameActivity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nameActivity, "", new { @class = "text-danger" })
        </div>
    </div>

   
    <div class="form-group">
        @Html.LabelFor(model => model.KinderGarten, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.idKinderGarten, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idKinderGarten, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>




</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>










