@model PI4SAE.Models.KinderGarten

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/EspaceParent.cshtml";

}

<h2>Details</h2>

<div>
    <h4>KinderGarten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idKinderGarten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKinderGarten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameKinderGarten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameKinderGarten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descritpion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descritpion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEvent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEvent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reputationComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reputationComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reputationReclamations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reputationReclamations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reputationRates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reputationRates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canteenn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canteenn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
