@model Pi4Sae4.Models.Posts

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/EspaceAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Posts</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.namePost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.namePost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.namePost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
        </div>
    </div>








    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.img)
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
            @Html.ValidationMessageFor(model => model.img)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.validePost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.validePost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.validePost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
